<div class="bottomrow">
    <div class="grid-container">
        <div class="grid-item"><a class="footer" href="https://followcrom.online">followCrom.online</a></div>
        <div class="grid-item">&copy; followCrom 2022</div>
    </div>


    <div>
        <a class="page" href="https://github.com/followcrom/" target="_blank"><img class="icon"
            src="static/images/icons/github.png" alt="GitHub" title="GitHub"></a>
        <a class="page" href="https://linkedin.com/in/followCrom" target="_blank"><img class="icon" src="static/images/icons/linkedin.png" alt="LinkedIn" title="LinkedIn"></a>
    </div>
</div>