<div class = content_text_box>

  <form action="/sent" method="post">

    <div>
    <label>Attribution</label>
    <br>
  <input type="text" name="attribution" required placeholder="Bruce Wayne" size="50">
  </div>

  <div>
  <label>Title:</label>
  <br>
  <input type="text" name="title" value="go for it" size="50">
  </div>


  <div>
  <label>Wisdom:</label>
  <br>
  <textarea name="quote" placeholder="mulit-line input" rows="4" cols="50"></textarea>
  </div>


  <div>
  <label>Date:</label>
  <br>
  <input type="date" name="date">
  </div>

  <input type="submit" value="Submit">
  </form>

</div>
