<!DOCTYPE html>
<html>
  <head>
    <title>ranDom wisDom</title>
    <meta charset="utf-8">
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-N26X8R4');</script>
    <!-- End Google Tag Manager -->

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5879ZFBCXY"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-5879ZFBCXY');
    </script>
    <!-- End Google Tag -->

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel= "stylesheet" href= "{{ url_for('static', filename='styles/full_screen.css') }}">
    <!-- link rel= "stylesheet" media="(min-width: 900px)" href= "{{ url_for('static', filename='styles/full_screen.css') }}" -->
    <!-- link rel="stylesheet"  media="(max-width: 899px)" href= "{{ url_for('static', filename='styles/handheld.css') }}" -->

    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon_dom.ico') }}">

    <script src="https://js.hcaptcha.com/1/api.js" async defer></script>

</head>
<body>
</body>
</html>
