<!DOCTYPE html>
<html>
  <head>
    <title>aws title change</title>
{% include 'header.html' %}
</head>


<body class="main">
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N26X8R4"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

<div class="banner">

<div class="banner_image">
<img src="static/images/djrr.jpg" alt="DJ Double R" height="120px">
</div>


<div class="button button1">
<a href="/">Random<br>Wisdom</a>
</div>

</div>

<div class="welcome_bar">
  <script src="{{url_for('static', filename='js/get_time.js')}}"></script>
</div>


<div class="content">

<div class = content_box>

<div class="id_ref">
(This is wisdom number {{dom_id}} of {{numdoms}})
</div>

{% include 'quotes.html' %}


<div class=form>
{% include 'form.html' %}
</div>

</div>
</div>

{% include 'footer.html' %}

</body>
</html>
