<!DOCTYPE html>
<html>
  <head>
    <title>ranDom wisDom - {{domdom['title']}}</title>
{% include 'header.html' %}
</head>


<body class="main">

<div class="banner">
<img src="static/images/tony-banner_960x120.gif">
</div>

<div class="welcome_bar">
  <script src="{{url_for('static', filename='js/get_time.js')}}"></script>
</div>


<div class="content">

  <div>
    {{dom_id}} of {{numdoms}}
  </div>

<div>
  {% include 'quotes.html' %}
</div>

  <div>
{% include 'form.html' %}
</div>

</div>


{% include 'footer.html' %}

</body>
</html>
