<!DOCTYPE html>
<html>
  <head>
    <title>{{domdom['title']}}</title>

{% include 'header.html' %}

</head>


<body class="main">

<div class="banner">
<img src="static/images/tony-banner_960x120.gif">
</div>

<div class="welcome_bar">
  <script src="{{url_for('static', filename='js/get_time.js')}}"></script>
</div>

<div class="content">

  {% include 'quotes.html' %}

{% include 'form.html' %}

<div class = "more">
  <a href = "/">Return to homepage</a>
</div>

</div>

{% include 'footer.html' %}

</body>
</html>
