<!DOCTYPE html>
<html>
  <head>
    <title>ranDom wisDom - {{submission['title']}}</title>
{% include 'header.html' %}
</head>


<body class="main">
<script src="{{url_for('static', filename='js/analytics.js')}}"></script>

<div class="banner">

<div class="banner_image">
<img src="static/images/djrr.jpg" alt="DJ Double R" height="120px">
</div>


<div class="button button1">
<a href="/">Random<br>Wisdom</a>
</div>

</div>

<div class="welcome_bar">
  <script src="{{url_for('static', filename='js/get_time.js')}}"></script>
</div>


<div class="content">

<div class = content_box>

<div class = title>
  {{submission.title}}
</div>

<div class=text>
    {% for line in submission.wisdom.split("\n") %}

    {{line}}

    {% endfor %}

    <br>

    <i>- {{submission.attribution}}</i>
  </div>

</div>

<div class="more">
  <a class="one" href = "/">Return to homepage</a>
</div>

</div>

  </body>
  </html>
